<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date, "Start Date" %><br />
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date, "End Date" %><br />
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :location_id, "Location" %><br />
    <%= f.select( :location_id, options_from_collection_for_select( @locations, "id", "name", @event.location_id ), { :prompt => "Select a Location" } ) %>
  </div>
  <div class="field">
    Allow Event Scheduling
    <br />
    <%= f.radio_button( :allow_event_scheduling, "true" ) %>
    <%= f.label :allow_event_scheduling_true, "Yes" %>
    <br />
    <%= f.radio_button( :allow_event_scheduling, "false" ) %>
    <%= f.label :allow_event_scheduling_false, "No" %>
  </div>
  <div class="field">
    Allow Track Scheduling
    <br />
    <%= f.radio_button( :allow_track_scheduling, "true" ) %>
    <%= f.label :allow_track_scheduling_true, "Yes" %>
    <br />
    <%= f.radio_button( :allow_track_scheduling, "false" ) %>
    <%= f.label :allow_track_scheduling_false, "No" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
